@page "/blog"

<PageTitle>Blog - Tony Joychan</PageTitle>

<div>
    <h1>Blog</h1>
    <p>Welcome to my blog! Here you'll find my thoughts on Azure architecture, technology trends, and more.</p>
    <BlogList />
</div>
